<div class="pre-scrollable">
    <form *ngIf="form" [formGroup]="form">
  
      <div *ngFor="let question of questions">
        <app-modeling-question [question]="question" [form]="form"></app-modeling-question>
      </div>
  
      <!-- <div style="margin-bottom: 1em">
        <button type="submit" [disabled]="!form.valid" class="btn btn-success">Save</button> &nbsp;
        <button type="reset" (click)="revert()" [disabled]="!form.valid" class="btn btn-danger">Revert</button>
      </div> -->
  
    </form>
  </div>