
<div class="card">
   <div class="card-body">
    <div class="card bg-light">
      <div class="card-body">

</div>
</div>
</div>
<div class="card-body">
<div class="row">
<form class="col">
    <button type="button" class="btn btn-primary" (click)="addMarker()">Add Marker</button>
    <button type="button" class="btn btn-primary" (click)="removeMarker()">Remove Marker</button>
</form>
</div>
<div class="row">
<!--<label class="col col-form-label">{{markers?.length}} Markers</label>-->
</div>
<!-- Map -->
<div leaflet appHackMap style="height: 800px; width: 600px; overflow-x: hidden;" [leafletOptions]="options" [leafletLayers]="markers">
</div>
</div>
</div>
