<div style="text-align:right">     
  <p-dataTable #dt [value]="capacitors" exportFilename="Capacitor Parameters" selectionMode="multiple" [metaKeySelection]="false" [(selection)]="selectedCPs" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,25,30]" dataKey="bus_name" sortMode="multiple">
    <p-header>
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
            并联电容器运行参数               
            <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
        </div>
    </p-header>
    <p-column field="Capid" header="电容器名" [style]="{'width':'28%'}"[sortable]="true"></p-column>
    <p-column field="bus_name" header="所在节点" [sortable]="true"></p-column>
    <p-column field="Qcap" header="电容量(kVar)" [sortable]="true"></p-column>
    <p-column field="control" header="控制方式"  [style]="{'width':'18%'}" [sortable]="true"></p-column>
    <p-column field="phase" header="相位"  [style]="{'width':'18%'}" [sortable]="true"></p-column>
    

  </p-dataTable>
</div>